## Mac
.DS_Store

## office
.~lock.*#

## vim
*.swp
*.swo
*~
.project
.DS_Store
.idea

## Python
*.py[cod]

venv/*
dist/*
tmp/*
venv/*
target/*
project/target/*
project/project/target/*
logs/*
.settings/*
.python-version

## sphinx
build
_build

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

## Ruby
vendor
.bundle
Gemfile.lock

## Ruby on Rails
/db/*.sqlite3
/log/*.log
/tmp
doc/

## vagrant
.vagrant
